# Normalizar fin de línea a LF en todos los archivos de texto
* text=auto eol=lf

# Binarios
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ogg binary
*.wav binary
*.mp3 binary
*.glb binary
*.gltf binary
*.blend binary
*.fbx binary
*.ttf binary
*.otf binary
*.dll binary
*.so binary
*.dylib binary
*.exe binary
